# Auto detect text files and perform LF normalization
* text=auto
WebGl.data.gz filter=lfs diff=lfs merge=lfs -text
WebGl.data.gz~ filter=lfs diff=lfs merge=lfs -text
WebGL.data filter=lfs diff=lfs merge=lfs -text
